{% extends 'front.html.twig' %}

{% block body %}



    <!-- top-brands -->
    <div class="top-brands">
        <div class="container">
            <h3>Développez votre boutique !</h3>
            <div class="sliderfig">




                <div class="sap_tabs">
                    <div class="wthree_team_grids">

                        <div class="col-md-3 wthree_team_grid">
                            <img src="bundles/images/sell_visits.png" style="width: 140px;" alt=" " class="img-responsive">
                            <h4>Augmentez vos ventes <span></span></h4>
                        </div>
                        <div class="col-md-3 wthree_team_grid">
                            <img src="bundles/images/sell_satisfy.png" style="width: 140px;" alt=" " class="img-responsive">
                            <h4>Frais de retours offerts!<span></span></h4>
                        </div>
                        <div class="col-md-3 wthree_team_grid">
                            <img src="bundles/images/sell_rep.png" style="width: 140px;" alt=" " class="img-responsive">
                            <h4>Marketing & Analyses de données <span>pour que vous preniez les bonnes décisions</span></h4>
                        </div>
                        <div class="clearfix"> </div>
                        </br>
                    </div>
                </div>
                <div class="row" style="    border: 1px solid #efefef;border-radius: 2px;background: #F8F8F8;box-shadow: 0px 1px 17px 0px rgba(224,224,224,1);"><br><br>
                    <div class="grey_wrap"><br><br>
                        <p class="sub-title1">Comment ça marche ?</p><br>

                        <div class="grid5" style="margin-left: 5%;float: left;padding-right:5%">
                            <img src="bundles/images/1.png" style="width: 150px; float: right;" alt="">
                        </div>

                        <div class="grid7"><br>
                            <p class="txt1" style="font-size: 15px; color: #f90;">Etape 1 : enregistrez vous en moins de 5 minutes</p>
                            <p class="txt1">Remplissez le formulaire.<br>Lisez et acceptez les conditions générales.</p>
                        </div>

                        <div class="grid5" style="    margin-top: 10%;float: left;padding-right:5%">
                            <img src="bundles/images/2.png" style="width: 150px; float: right;" alt="">
                        </div>

                        <div class="grid7" style="    margin-top: 10%;"><br>
                                <p class="txt1" style="font-size: 15px; color: #f90;">Etape 2 : Devenez un expert du commerce en ligne</p>
                                <p class="txt1">Répondez au quizz destiné aux nouveaux vendeurs.<br>Décidez ensuite si vous souhaitez suivre une formation complémentaire ou si vous vous sentez suffisamment à l'aise pour commencer à vendre directement sur Techri ?</p>
                        </div>
                        <div class="grid5" style="    margin-top: 10%;float: left;padding-right:5%;padding-bottom:2%;">
                            <img src="bundles/images/3.png" style="width: 150px; float: right;" alt="">
                        </div>

                        <div class="grid7" style="    margin-top: 10%;"><br>
                                <p class="txt1" style="font-size: 15px; color: #f90;">Etape 3 : Mettez vos produits en ligne et commencez à vendre!</p>
                                <p class="txt1">Plus vous mettrez de produits en ligne plus vous vendrez.</p>
                            </div>



                    </div>

                </div>
                <div class="w3l_login" style="margin-left: 38%;padding-top: 1%;">
                    <a href="/inscrivendeur" data-toggle="modal" style="background-color:#F68C1E"><h4>Commencez à vendre maintenant</h4></a>
                </div>



            </div>
        </div>
    </div>
    <!-- //top-brands -->


{% endblock %}
